main {
    margin: 0;
}

.containerProducts {
    padding: 2rem;
}


.nameProduct {
    text-align: center;
}

.modalGroup {
    justify-content: space-between;
    border: 2px #CCCCCC solid;
    border-radius: 10px;
    width: 100%;
    max-width: 15rem;
}

.btnsAdd {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 15rem;
}

.btnsAdd button {
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    border: 2px #4f92f6 solid;
    color: #4f92f6;
    border-radius: 10px;
}

#itemList {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width: 740px) {
    #itemList {
        justify-content: center;
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 35rem;
    min-height: 35rem;
    padding: 0 1rem;
    border: 2px solid #cccccc;
    box-shadow:
        1px 1px 41px rgba(0, 0, 0, 0.2);
}

.card:hover {
    border: 2px solid #a2a2a2;
    box-shadow:
        1px 1px 41px rgba(0, 0, 0, 0.379);
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card div {
    height: 50%;
}

.card div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fatherDetail {
    display: flex;
    box-shadow:
        1px 1px 41px rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    min-height: 40rem;
}


.fatherDetail .imgDetail,
.fatherDetail .productDetail {
    width: 50%;
}

.imgDetail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgDetail img {
    max-width: 100%;
    max-height: 100%;
}

.productDetail {
    padding: 3rem;
}

.titleDetail {
    font-size: 1.6rem;
}

.stockDetail {
    color: #a2a2a2;
}

.priceDetail {
    font-size: 1.5rem;
}

.brandDetail {
    background-color: #4F92F6;
    color: white;
    width: auto;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.countDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .fatherDetail {
        flex-direction: column;
    }

    .fatherDetail .imgDetail,
    .fatherDetail .productDetail {
        width: 100%;
    }

    .fatherDetail .imgDetail {
        display: flex;
        justify-content: center;
    }

    .imgDetail img {
        max-width: 80%;
        max-height: 80%;
    }

    .productDetail {
        padding: 1rem;
    }
}