nav{
    user-select: none;
}
#navbarBrand{
    border: none;
    font-size: 1.8rem;
}
.red{
    font-size: 1.8rem;
    color: red;
}
.link{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.offcanvas{
    font-family: "Motiva Sans", Sans-serif;
    background-color: #171A21;
    max-width: 280px;
}
.offcanvas-body{
    padding: 16px 0;
}
.div-links{
    width: 100%;
    font-size: 1.8rem;
    border-top: 1px solid #3f424b;
    border-bottom: 1px solid #000000;
    padding: 0.5rem;
}
.div-links:hover{
    background-color: #1d2029;
}
.dropdown-menu[data-bs-popper] {
    left: 1rem;
    font-size: 1.2rem;
}